{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<body>
<div id="topbar">
<div class="wrapper">
  <header>
  {{ partial "sidebar.html" . }}
  </header>
</div>
</div>

<div class="wrapper">
<div class="units-row">
<div class="unit-20">&nbsp;</div>
<div class="unit-60"><h2 class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2></div>
</div>
<div class="units-row">
  <div class="unit-20 dateblock">
    <strong>Published</strong>: <br/>
    <a href="{{ .Permalink }}" title="{{ .Title }}" rel="bookmark">{{if not (isset .Params "grlog") }}<time class="entry-date" datetime="{{ .Date }}" pubdate> {{ .Date.Format "January 2, 2006" }}</h4>{{ else }}&nbsp;{{ end }}</a>


    <br><br>

    <strong>Categories</strong>: <br/>
    {{ if .Params.categories }}
    {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }} / {{ end }}<a class="small" href="{{ $baseurl }}/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}

    <br><br>

    <strong>Reading time</strong>: <br>{{.ReadingTime}} min. | {{ .WordCount }} words

    <br/><br/>

    {{ if .Params.series }}
    <strong>Series</strong>: <a class="small" href="{{ $baseurl }}series/{{ .Params.series }}">{{ .Params.series }}</a>
    {{ end }}


  </div>
<div class="unit-60">
  <div class="post">

   {{ if .Params.image.feature }}
    <div class="overlay"></div>
    <img class="featured-image" src="{{ $baseurl }}/assets/images/{{ .Params.image.feature }}"/>
   {{ end }}

    {{ .Content }}

  </div>
</div>

</div>

</div>


<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "footer.html" . }}
</body>
</html>
