<div class="wrapper" style="font-size: 0.8em; line-height: 1.05em;">
  <div class="units-row units-padding">		
    <div class="unit-40"><!--about-->
      <h3>About</h3>
  <!--     <figure class="image-left">
        <img class="avatar" src="assets/images/me.jpg" height="120" width="120">
      </figure>	   -->    
      <p><strong>Greetings!</strong> My name is Jason Heppler. I am a digital historian at the <a 
          href="http://www.unomaha.edu">University of Nebraska at Omaha</a> and a scholar of the twentieth-century United States. I often write here about the history of the North American West, technology, the environment, culture, and coffee. You can follow <a href="http://twitter.com/jaheppler">me on Twitter</a>, or learn <a href="{{ .Site.BaseURL }}about/" title="More about Jason">more about me</a>.</p>
    </div><!--end about-->
    <div class="unit-30"><!--contact--> 
      <h3>Where</h3>
      <ul class="compact fa-ul">
        <li><i class="fa-li fa fa-university fa-fw" 
            style="color:#03396c;font-size:80%;padding-top:6px;"></i>Criss Library, 6001 Dodge Street, Omaha, Neb., 68182.</li>
        <li><i class="fa-li fa fa-envelope fa-fw" 
            style="color:#03396c;font-size:80%;padding-top:6px;"></i><a 
            href="mailto:jason@jasonheppler.org">jason@jasonheppler.org</a></li>
        <li><i class="fa-li fa fa-twitter-square fa-fw" 
            style="color:#03396c;font-size:80%;padding-top:6px;"></i><a 
            href="http://twitter.com/jaheppler">@jaheppler</a> on Twitter.</li>
        <li><i class="fa-li fa fa-github fa-fw" 
            style="color:#03396c;font-size:80%;padding-top:6px;"></i><a 
            href="http://github.com/hepplerj">On GitHub</a>.</li>
        <li><i class="fa-li fa fa-rss-square" style="color:#03396c;font-size:80%;padding-top:6px;"></i> <a href="/feed.xml">RSS feed</a></li>
      </ul>
    </div><!--end contact-->
<div class="unit-30"><!--Subscribe-->
				<h3>Search</h3>
				<a id="searchsite">
					<form method="get" action="https://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search the site">
			<input type="hidden" name="sites" value="jasonheppler.org"/>
			   <input type="hidden" name="k7" value="#faf8f8"/>
			   <input type="hidden" name="kj" value="#b33"/>
			   <input type="hidden" name="ky" value="#fafafa"/>
			   <input type="hidden" name="kx" value="b"/>
			   <input type="hidden" name="ko" value="-1"/>
			   <input type="hidden" name="k1" value="-1"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form></a>
			</div>
		</div>
	</div>
</div>
