{{ partial "header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
  <div id="topbar">
    <div class="wrapper">
      <header>

        {{ template "partials/sidebar.html" . }}

        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>
  <div class="wrapper">
  <h2>Publications and Research</h2>
    <div class="units-row">
      <div lass="unit-100">
        <p><a href="/downloads/pdf/jah-cv.pdf"><em>Curriculum Vitae</em></a> <a href="/downloads/pdf/jah-cv.pdf" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;pdf</a></p>
        <p>My work broadly centers on twentieth century political and environmental American history. My work ranges from political and cultural change, urban and environmental history, political culture, historical memory, and the North American West. As a public historian, I find ways to make academically-oriented history accessible to the general public and involve communities in their local histories. My belief in the importance of public history enhances my approach to digital history. As a digital historian, I collaborate with colleagues, students, and the community to create digital projects. I am interested in exploring how digital history can intersect with public history and generate projects that conserve and interpret the past.</p>

        <p>I serve on the editorial board of <em><a href="https://uimiddle.wordpress.com/">The Middle West Review</a></em> and <em>Studies in Midwestern History</em>, and serve on the digital content advisory board for <em><a href="http://www.americanyawp.com/">The American Yawp</a></em>, an online, free, collaboratively-written textbook of American History.</p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="units-row">
      <div class="unit-50">

        <h2>Books, Articles, and Book Chapters</h2>
          {{ range (where .Data.Pages "Type" "published").GroupByDate "2006" "desc" }}
          <div class="units-row">
            <div class="unit-10">
              <h3>{{ .Key }}</h3>
            </div>
            <div class="unit-90">
              <ul class="compact fa-ul">
	        {{ range .Pages.ByDate.Reverse }}
                <li><i class="fa-li fa  {{ if eq .Type "unpublished" }}fa-file-o {{ else if eq .Params.kind "book" }}fa-book {{ else if eq .Params.kind "thesis"}}fa-pencil {{ else }}fa-file {{ end }} fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i> {{ .Params.citation | safeHTML }}
                  <a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
                </li>
	        {{ end }}
              </ul>
            </div>
          </div>
          {{ end }}

        <h2>Digital Research and Scholarship</h2>
        {{ range (where .Data.Pages "Type" "digital").GroupByDate "2006" "desc" }}
          <div class="units-row">
            <div class="unit-10">
              <h3>{{ .Key }}</h3>
            </div>
            <div class="unit-90">
              <ul class="compact fa-ul">
          {{ range .Pages.ByDate.Reverse }}
                <li><i class="fa-li fa fa-file-code-o fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i> {{ .Params.citation | safeHTML }}
                  <a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
                </li>
          {{ end }}
              </ul>
            </div>
          </div>
          {{ end }}
        </div>

      <div class="unit-50">
        <h2>In Progress</h2>
          {{ range (where .Data.Pages "Type" "unpublished").GroupByDate "2006" "desc" }}
          <div class="units-row">
            <div class="unit-10">
              <h3>{{ .Key }}</h3>
            </div>
            <div class="unit-90">
              <ul class="compact fa-ul">
	        {{ range .Pages.ByDate.Reverse }}
                <li><i class="fa-li fa {{ if eq .Type "unpublished" }}fa-file-o {{ else if eq .Params.kind "book" }}fa-book {{ else }}fa-file-o {{ end }} fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i> {{ .Params.citation | safeHTML }}
                  <a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
                </li>
	        {{ end }}
              </ul>
            </div>
          </div>
          {{ end }}

          <h2>Essays and Reviews</h2>
          {{ range (where .Data.Pages "Type" "other").GroupByDate "2006" "desc" }}
          <div class="units-row">
            <div class="unit-10">
              <h3>{{ .Key }}</h3>
            </div>
            <div class="unit-90">
              <ul class="compact fa-ul">
	        {{ range .Pages.ByDate.Reverse }}
                <li><i class="fa-li fa  {{ if eq .Type "unpublished" }}fa-file-o {{ else if eq .Params.kind "book" }}fa-book {{ else }}fa-file {{ end }} fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i> {{ .Params.citation | safeHTML }}
                  <a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
                </li>
	        {{ end }}
              </ul>
            </div>
          </div>
          {{ end }}
        </div>
    </div>

</div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "foot.html" . }}
</body>
</html>
